

html,body{
margin: 0;
padding: 0;
height: 100vh;
font-family:arial;/*FONTE DA PÁGINA*/
text-align : center;/*ALINHAR O TEXTO NO CENTRO DA PÁGINA*/
background-image:url("https://trabalhoshref.github.io/mostruario-imagens/Whispers_of_Elegance.png");/*MUDAR A IMAGEM DE FUNDO*/
background-size: cover;/*"FALA" PARA A IMAGEM COBRIR O FUNDO TODO*/
background-position: center;/*E ALINHA ELA NO CENTRO*/
background-repeat: repeat;/*"FALA" QUE NÃO QUER QUE A IMAGEM SE REPITA*/
background-attachment:fixed;
}

header{
	margin:0px;/*DEFINIR MARGENS*/
	padding : 3vw;/*PARTE INTERIOR DO ELEMENTO*/
	background-color :rgb(242, 203, 177);
	border-radius : 5px;/*ARRENDODAMENTO DA BORDA*/
	border-style: inset;/*ESTILO DA BORDA*/
	border-color:#C5AF89;
}
nav{
	font-size : 22px;
	padding:0.35vw 7.2vw 0.35vw 7.2vw;
	border : 3px solid #C5AF89;
	background-color:#dbdbdb;
	border-radius : 10px;
	border-style: inset;
	font-weight:bold;
		letter-spacing:1px;/*ESPAÇAMENTO ENTRE AS LETRAS*/
}
/*TRouBLe*/
nav a{
	padding:0.35vw 7.2vw 0.35vw 7.2vw;
	text-decoration: none;
	text-align : left;
	color :black;
	background-color :#dbdbdb;
	letter-spacing:1px;
}
nav a:hover/*AQUI A TEORIA É A MESMA! MAS INVES DOS BOTÕES, É DO MENU DE NAVEGAÇÃO*/{
	padding:0.35vw 7.2vw 0.35vw 7.2vw;
	background-color : rgb(186, 188, 190);
	letter-spacing:1px;
}
#logo{/*SELETOR DE CLASSE*/
	width:275px;
	height :auto;
}

/*AQUI TERMINA O LAYOUT PARA AS OUTRAS PÁGINAS! */

legend{
	margin-bottom:12px;
	margin-top:5px;
	font-weight:bold;
	
}
#nome_campo{
	position:relative;
	right:200px;
	top:20px;
	
}
#formulario{
	font-weight:bold;
	background-color:white;
	position:relative;
	left:400px;
	top:100px;
	width:700px;
	height:250px;
	text-align:center;
	border-color:black;
	border-radius : 5px;/*ARRENDODAMENTO DA BORDA*/
	border-style: inset;/*ESTILO DA BORDA*/
	border-color:#C5AF89;
}
.botao_contatos{
	font-size:15px;
	margin-left:30px;
	border-color:#C5AF89;
	font-weight:bold;
	background-color:#dbdbdb;
	border-radius:5px;
	padding:5px;
	width:100px;
	height:auto;
	position:relative;
	right:20px;
	top:35px;
}
 
.botao_contatos:hover/*HOVER É O EVENTO DE QUANDO O MOUSE PASSA POR CIMA DO ELEMENTO, AQUI MODIFICAMOS AS CORES DA BORDA, DO FUNDO E DAS LETRAS DE TODOS OS BOTOES DA PAGINA, RESPECTIVAMENTE*/{
	border-color:white;
	background-color:#C5AF89;
	color:white;
	cursor:pointer;
}
#botao1{
	position:relative;
	bottom:50px;
	left:50px;
}

#botao2{
	position:relative;
	top:180px;
	left:730px;
}